@media only screen and (min-width : 768px) {
  header, main, footer {
    padding-left: 0;
    }
};
#about-me-div{

}
#username-h2{
  margin:0px;
}
#profile-page-container{
  margin-top:30px;
}

.modalContainer {
  margin: 0 auto;
}

.form-signin-heading {
  font-family: 'Gloria Hallelujah';
}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

}


.mainLogo {
  padding: 0px;
  position: relative;
  left: 32px;
}

.navLogo{
  position: relative;
  width: 250px;
  bottom: 28px;
  right: 40px;

}



.mainLogo {
  margin-left: 55px;
}

.page-footer {
   background-color: #6aac18 !important;
}

.page-footer h5 {
  font-family: 'Concert One';
}

nav {
   background-color: #1820ac !important;
   font-family: 'Concert One';
}

nav ul a {
  font-size: 1.3rem !important;
}

#signUpButton {
   background-color: #3998e5 !important;

}

.material-icons {
   color: #6aac18 !important;
   font-size: 40px;
}

#preview {
    background-image: url("../media/profPic.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    background-position: center;
    width: 200px;
    height: auto;
    min-height:200px;

}

#bulletinHeader {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
td, th {
  color: #1820ac !important;
}


#logo-container {
  margin-left: 40px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

label.treatment {
  display: block;
  width: 96%;

}

label.treatment .commoner {
  display: block;
  float: left;

}

label.treatment .royal{
  display: block;
  float: right;
  text-align: right;

}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

};



#cupofSugar {
  margin-right: 100px;
}

.placeholderNumber {
  font-size: 12px;
}
/*end tally styling*/


p {
  color: black;
}

.main-profile-pic {
  padding: 30px 10px 55px 10px;
  background-color: white;
}

.profileContainer {
  /*background-color: #dcdefa;*/
  background-image: url("../media/brickwall.jpg");
  padding-top: 20px;
}

/*//side nav default background colors */
.side-nav {
  background-color: #dcdefa;
}

.userView {
  background-color: #3998e5;
}
